{% extends "web/base.html" %}
{% load static i18n %}
{% block title %}{% trans "SMPP SERVER STATS" %}{% endblock title %}
{% block extracss %}{% endblock extracss %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">{% trans "SMPP SERVER STATS" %}</h1>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered table-sm" id="sortable-table">
                <thead>
                    <tr>
                        <th >#</th>
                        <th >{% trans "ITEMS" %}</th>
                        <th>{% trans "VALUE" %}</th>
                    </tr>
                </thead>
                <tbody id="collectionlist"></tbody>
                <!-- <tbody class="isEmpty" style="display:none;">
                    <tr>
                        <td colspan="8" class="text-center"><i class="fas fa-user text-metal" style="font-size:5rem;"></i><br>{% trans "No STats" %}</td>
                    </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>


{% endblock content %}
{% block extrajs %}
<script src="{% static 'web/content/smpp_stats.js' %}"></script>
{% endblock extrajs %}